@using DotNetCoreCamp.Controllers
@model Class1
@{
    ViewData["Title"] = "AddEmployee";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<form method="post">
    <label>Çalışan Adı Soyadı</label>
    <input type="text" asp-for="@Model.Name" class="form-control"/>
    <br/>
    <button type="submit" class="btn btn-outline-success">Çalışan Ekle</button>
</form>