@model DotNetCoreCamp.Controllers.Class1
@{
    ViewData["Title"] = "EditEmployee";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<h1>Api ile Personel Güncelleme Sayfası</h1>

<form method="post">
    <label>ID</label>
    @Html.TextBoxFor(x => x.ID, new { @class = "form-control" })

    <label>Personel</label>
    @Html.TextBoxFor(x => x.Name, new { @class = "form-control" })
    <br/>
    <button class="btn btn-outline-success col-12">Güncelle</button>
</form>
