

<div class="tech-btm">
    <p>Teknoloji, yazılım ve diğer bloglardan haber alın </p>
    <form action="/NewsLetter/SubscribeMail/" method="post">
        <input type="email" placeholder="Email" required="" name="Mail">
        <input type="submit" value="Abone ol">
 </form>
