
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<h1>Yazar Ajax İşlemleri</h1>
<br/>
<button type="button" id="btngetlist" class="btn btn-outline-primary">Yazar Listesi</button>
<button type="button" id="btngetbyid" class="btn btn-outline-success">Yazar Getir</button>
<br/><br/>
<div id="writerlist">
    Buraya Yazarlar Gelecek
</div>
<br/>
<div id="writerget">
    Buraya bir yazar gelecek
</div>
<div>
    <input type="text" id="writerid" placeholder="Yazar ID değerini giriniz..." class="form-control"/>
</div>
@section scripts
{
    <script>
        $("#btngetlist").click(function() {
            $.ajax({
                contentType: "application/json",
                dataType: "json",
                type: "Get",
                url: "/Admin/Writer/WriterList/",
                success: function(func) {
                    let w = jQuery.parseJSON(func);
                    console.log(w);
                    let tablehtml = "<table class=table table-bordered> <tr><th>Yazar ID</th> <th>Yazar Adı</th></tr>";
                    $.each(w,
                        (index, value) => {
                            tablehtml += `<tr><td>${value.Id}</td><td>${value.Name}</td></tr>`
                        });
                    tablehtml += "</table>";
                    $("#writerlist").html(tablehtml);
                }
            });
        });

        $("#btngetbyid").click(x => {
            let id = $("#writerid").val();
            $.ajax({
                contentType: "application/json",
                dataType: "json",
                type: "Get",
                url: "/Admin/Writer/GetWriterByID/",
                data: { writerid: id },
                success: function (func) {
                    let w = jQuery.parseJSON(func);
                    console.log(w);
                }
            });

        });
    </script>
}
