
@{
    ViewData["Title"] = "Test";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Test</h1>
<h3>Burası Kendi Oluşturduğumuz View Sayfası</h3>
<table>
    <tr>
        <th>ID</th>
        <th>Ad</th>
        <th>Departman</th>
    </tr>
    <tr>
        <td>1</td>
        <td>Berkcan</td>
        <td>Yazılım</td>
    </tr>
    <tr>
        <td>2</td>
        <td>Ayşe</td>
        <td>Analist</td>
    </tr>
</table>
