@model IEnumerable<EntityLayer.Concrete.Comment>

<div class="comment-top">
    <h4>Yorumlar</h4>
    @if (Model.Count() == 0)
    {
        <h4>Bu bloga hiç yorum yapılmamış. İlk yorum yapan sen ol</h4>

    }
    
    @foreach (var item in Model)
    {
        <div class="media">

            <img src="~/CoreBlogTema/images/t1.jpg" alt="" class="img-fluid" />
            <div class="media-body">
                <h5 class="mt-0">@item.CommentUserName</h5>
                <p>
                    @item.CommentContent
                </p>

            </div>

        </div>
    }
</div>